:root {
  --accent-color: #47564d;
  --grey-light: #f5f6fb;
  --gray: #52555f;
  --black: black;
  --white: white;
  --persik: #ffdac0;
  --persik-light: #f9ece2;

  --card-gap: 30px;
  --card-item: 1;
  --transition: 350ms cubic-bezier(0.4, 0, 0.2, 1);
}
